<% if current_user.basic? %>
<%= form_tag charges_switch_to_premium_path do %>
<h4>Click the button!</h4>
<script
  class='stripe-button'
  src="https://checkout.stripe.com/checkout.js"
  data-label="Upgrade to Premium"
  data-key="<%= @stripe_btn_data[:key] %>"
  data-amount="<%= @stripe_btn_data[:amount] %>"
  data-description="<%= @stripe_btn_data[:description] %>"></script>
<% end %>
<% else %>
<%= button_to "Downgrade", charges_switch_to_basic_path %>
<% end %>
